@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
}

:root {}



body {
    background-color: #e6e5c0;
}



header {
    background-image: linear-gradient(#3ad07e, #1a5c38);
    color: white;
    padding: 1rem 1rem 0;
}

header>section>h1 {
    margin-bottom: 1rem;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
}

header>section>p {
    text-align: center;
    font-size: .8em;
    font-weight: 100;
    margin-bottom: 1rem;
}

nav {
    padding: 0rem 0 .5rem 0;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 500px;
}

ul>li>a {
    text-decoration: none;
    color: white;
    font-size: .8em;
    font-weight: 600;
}

main {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
}

#historia {
    background-color: white;
    padding: 1rem;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.349);
}

#historia>article>h2 {
    font-size: 1.2em;
    margin-bottom: 1rem;
    font-family: 'android';
    color: #1a5c38;
}

#historia>article>p {
    text-indent: 13px;
    font-size: .9em;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.container-title-historia>h3 {
    padding: .3rem .5rem;
    font: 700 1.2em 'android';
    color: #1a5c38;

    background-image: linear-gradient(45deg, #7fffd4, #ffffff);
    margin-bottom: 1rem;
}















.container-video-android {
    background-color: #1a5c38;
    padding: 1rem 2rem;
}


.container-aprender-mais {
    background-color: white;
    padding: 1rem 1.5rem;
}


.container-sumario-aprender>h3 {
    padding: .5rem;
    font-size: .9em;
    background-color: #3ad07e;
    color: white;
    border-radius: 20px 20px 0 0;
}

.container-sumario-aprender>p {
    padding: 1rem;
    background-color: rgba(127, 255, 212, 0.518);
    font-size: .8em;
    text-indent: 10px;
}

.sumario {
    background-color: rgba(127, 255, 212, 0.518);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
}

.sumario>span {
    padding: 1rem;
    font: 100 .8em Arial;
}