@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    background-color: gray;
}
header {
    text-align: center;
}

header > h1{
    margin-bottom: .5rem;
    color: black;
}

ul > li{
    background-color: rgb(61, 61, 61);
    margin-bottom: .1rem;
    padding: .5rem;
    list-style: none;
}

li> a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    
}

li:hover{
    background-color: rgb(142, 144, 145);
}

#burgue{
    font-size: 1.7rem;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: .5rem;
    display: block;
    padding-bottom: .1rem;
    cursor: pointer;
}

#burgue:hover{
    background-color: white;
    color: black;
}

main{
    padding: 1rem;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    margin: .5rem auto;
}

article{
    text-align: center;
}

article > h2{
    font-size: 2rem;
    margin-bottom: .5rem;
}

article > p{
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    text-indent: 20px;
}